@media (max-width: 600px) {
  .home {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;  
    align-items: center;
    padding: 0 10px;
  }
  .home .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }
  .home .content-image {
    width: 60%;
  }
}
